.contenedorBase {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor {
  width: 70%;
}

.contenedor h1 {
  padding: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contenedorExterior {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
 }

.selectorInicial {
  max-width: 100%;
   display: flex;
  justify-content: space-between;
   margin-bottom: 50px;

}

#selectorInicialOfertas {
  height: 200px;
}

.selectorInicial img {
  width: calc(23%);
  height: auto;

}

.categoriasDestacadas {
  margin: 10px 0;
  width: 100%;
}

.categoriasDestacadasCategoriasIndividuales a.seleccionado {
  border: 2px solid #0077B5;
  color: #0077B5;
}


#categoriasDestacadasMarcas {
  border-bottom: 3px solid black;
  padding-bottom: 30px;
  margin-bottom: 30px;
}



.sinProductos p {
  text-align: center;
  padding: 50px 0;
  font-size: x-large;
}

.categoriasDestacadasCategoriasIndividuales {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
  padding: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.categoriasDestacadasCategoriasIndividuales a {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid rgb(20, 20, 20);
  text-decoration: none;
  color: rgb(41, 40, 40);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 2px;
}

.categoriasDestacadasCategoriasIndividuales a:hover,
.categoriasDestacadasCategoriasIndividualesMarcas>a:hover {
  transform: scale(1.05);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn-filtrar-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.btn-filtrar {
  background-color: #4DA8DA;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-left: 10px;
}

#eliminar {
  background-color: #004d79;
}

.categorias {

  display: flex;
  flex-direction: column;
  transition: height 0.3s ease-in-out;
 }

.selector {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.contenedor-muestrario {
  display: flex;
  flex-direction: column;
  /* Cambio para mostrar los elementos en columna */
  align-items: center;
  /* Centra horizontalmente en el eje principal */
  text-align: center;
  width: 90%;
  margin: 0 auto;
 }



.centrar-boton {
  margin-top: 10px;
}

.centrar-boton button {
  padding: 20px 100px;
  font-size: large;
  margin-top: 50px;
  background-color: transparent;
  border-radius: 3px;
  border: 3px solid #004d79;
  transition: 0.3s ease-out;
}

.centrar-boton button:hover {
  background-color: gray;
  border: 3px solid gray;
}


.muestrario {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}


.card {
  width: 300px;
  max-width: 300px;
  height: 450px;
  max-height: 450px;
  border-radius: 20px;
   position: relative;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
  margin-bottom: 20px;
  background-color: white;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.card:hover {
  transform: scale(1.1);
  z-index: 9999;
}

.card-details {
  color: black;
  max-height: 100%;
  gap: .5em;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.card-button {
  transform: translate(-50%, 125%);
  width: 40%;
  border-radius: 1rem;
  border: none;
  background-color: #008bf8;
  color: #fff;
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}

.card-button:hover {
  background-color: #004266;
}

.card-button:active {
  color: #004266;
}


.card:hover {
  border-color: #008bf8;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card-details-img {
  flex: 0 0 60%;

}

.card img {
  width: 90%;
  max-width: 90%;
  max-height: 40%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom: 1px solid lightgray;
}

.card-details-text {
  flex: 0 0 20%;
  margin: 10px;
}



.card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}




.lista {
  max-height: 1000px;
  overflow: auto;
}

.item {
  cursor: pointer;
  transition: max-height 0.3s;
  border-bottom: 3px solid black;
}

.item h3 {
  margin-left: 10px;
  padding: 10px;
}

.item h3:hover {
  background-color: #e0e0e0;
}



.item ol {
  padding: 15px;
  margin: 5px;
}

.item a {
  padding: 10px 20px;
  text-decoration: none;
  color: inherit;
}

.item ol:hover {
  background-color: #e0e0e0;

}

.item.expandido {
  max-height: none;
  /* Expande el item para mostrar los datos completos */
}

.textoBajo {
  border-top: 3px solid black;
  padding: 30px 100px;
}



.material-checkbox {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #777777;
  cursor: pointer;
}

.material-checkbox span {
  margin-left: 20px;
}

.material-checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;

}

.checkmark {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 12px;
  border: 2px solid #0077B5;
  border-radius: 4px;
  transition: all 0.3s;
}

.material-checkbox input[type="checkbox"]:checked~.checkmark {
  background-color: #00486e;
  border-color: #0077B5;
}

.material-checkbox input[type="checkbox"]:checked~.checkmark:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 6px;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.material-checkbox input[type="checkbox"]:focus~.checkmark {
  box-shadow: 0 0 0 2px #014f79;
}

.material-checkbox:hover input[type="checkbox"]~.checkmark {
  border-color: #0077B5;
}

.material-checkbox input[type="checkbox"]:disabled~.checkmark {
  opacity: 0.5;
  cursor: not-allowed;
}

.material-checkbox input[type="checkbox"]:disabled~.checkmark:hover {
  border-color: #004266;
}

.ImagenFlotante {

  width: 100%;
  height: auto;
  margin-bottom: 30px;
}


/*
Carrusel
*/
.slide {
  position: relative;
  align-items: center;
  align-content: center;
}

.slide-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: calc(300px + 3em);
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-open:checked+.slide-item {
  position: static;
  opacity: 100;
}

.slide-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

.slide-item img {
  display: block;
  height: auto;
  max-width: 100%;
}

.slide-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}

.slide-control.prev {
  left: 2%;
}

.slide-control.next {
  right: 2%;
}

.slide-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}

#slide-1:checked~.control-1,
#slide-2:checked~.control-2,
#slide-3:checked~.control-3 {
  display: block;
}

.slide-indicador {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.slide-indicador li {
  display: inline-block;
  margin: 0 5px;
}

.slide-circulo {
  color: #828282;
  cursor: pointer;
  display: block;
  font-size: 35px;
  z-index: 1;
}

.slide-circulo:hover {
  color: #aaaaaa;
}

#slide-1:checked~.control-1~.slide-indicador li:nth-child(1) .slide-circulo,
#slide-2:checked~.control-2~.slide-indicador li:nth-child(2) .slide-circulo,
#slide-3:checked~.control-3~.slide-indicador li:nth-child(3) .slide-circulo {
  color: #428bca;
}

#titulo {
  width: 100%;
  position: absolute;
  padding: 0px;
  margin: 0px auto;
  text-align: center;
  font-size: 27px;
  color: rgba(255, 255, 255, 1);
  font-family: 'Open Sans', sans-serif;
  z-index: 1;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33),
    -1px 0px 2px rgba(255, 255, 255, 0);
}

.categoriasDestacadasCategoriasIndividualesMarcas {
  display: flex;
  justify-content: center;
  align-items: center;
}

.categoriasDestacadasCategoriasIndividualesMarcas>a {
  display: inline-block;
  max-width: 100px;
  height: 120px;
  overflow: hidden;
  padding: 10px 20px;
  margin-left: 10px;
}

.categoriasDestacadasCategoriasIndividualesMarcas>a>img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}




@media screen and (max-width: 767px) {
  .selectorInicial {
    flex-wrap: wrap;
  }

  .selectorInicial img {
    width: calc(50% - 10px);
    /* El 10px representa el espacio entre las imágenes */
    margin-bottom: 10px;
    /* Añade un espacio entre las filas */
  }

  .textoBajo {
    padding: 30px 10px;
  }

  .categoriasDestacadas h3 {
    margin-top: 100px;
  }



  .card {
    width: calc(100%);
    height: calc(90%);
  }

  .categoriasDestacadas h3 {
    padding: 0 10px;
  }

  .contenedor-muestrario {
    width: 100%;
    height: auto;
  }

  .muestrario {
    grid-template-columns: repeat(2, 1fr);
  }

  .centrar-boton>button {
    padding: 15px 30px;
  }

  .categoriasDestacadasCategoriasIndividuales a {
    padding: 10px 10px;
  }




  #categoriasDestacadasMarcas,
  #telefoneCategoriasDestacadas,
  .slide {
    display: none;
  }

  .card-details-text {
     margin: 0;
  }
}
