<footer>
  <div class="footer-content">
    <div class="desktop-table">
      <table>
        <tr>
          <th>Sobre nosotros</th>
          <th>Nuestros servicios</th>
          <th>Ayuda</th>
          <th>Términos legales</th>
        </tr>
        <tr>
          <td>Quiénes Somos</td>
          <td>Cínicas veterinarias</td>
          <td>Preguntas Frecuentes</td>
          <td>Política de Cookies</td>
        </tr>
        <tr>
          <td>Entrar en mi cuenta</td>
          <td>adoptaUnPerrete.org</td>
          <td>Garantía de Bienestar Animal</td>
          <td>venta de medicamentos</td>
        </tr>
        <tr>
          <td>Seguir mi pedido</td>
          <td>Blog</td>
          <td>Privilegios de compra</td>
          <td>Condiciones de Contratación</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>Términos y condiciones</td>
        </tr>
      </table>
    </div>
    <div class="mobile-list">
      <ul>
        <li><strong>Sobre nosotros</strong></li>
        <li>Quiénes Somos</li>
        <li>Entrar en mi cuenta</li>
        <li>Seguir mi pedido</li>
        <li><strong>Nuestros servicios</strong></li>
        <li>Cínicas veterinarias</li>
        <li>adoptaUnPerrete.org</li>
        <li>Blog</li>
        <li><strong>Ayuda</strong></li>
        <li>Preguntas Frecuentes</li>
        <li>Garantía de Bienestar Animal</li>
        <li>Privilegios de compra</li>
        <li><strong>Términos legales</strong></li>
        <li>Política de Cookies</li>
        <li>venta de medicamentos</li>
        <li>Condiciones de Contratación</li>
        <li>Términos y condiciones</li>
      </ul>
    </div>
  </div>
  <hr>
  <img class="logoImagen" src="./assets/logoGrande.webp">
</footer>
