<nav>
  <div class="nav">
    <input type="checkbox" id="nav-check" #navCheck>

    <div class="nav-title">
      <a class="logoGrande" routerLink=""><img src="./assets/logoGrande.webp" alt="logo" style="width: 200px;"></a>
    </div>

    <div class="nav-btn" id="menuHamburguer">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
    <div class="nav-links">

      <a (click)="go('perro')">Perro</a>
      <a (click)="go('gato')">Gato</a>
      <a (click)="go('pajaro')">Pájaros</a>
      <a (click)="go('roedores')">Roedores</a>
      <a (click)="go('reptiles')">Reptiles</a>
      <a (click)="go('acuariofilia')">Acuariofilia</a>
      <a (click)="irA('login')" class="btn"><mat-icon>person</mat-icon>
        <span>Iniciar
          sesión/Registrarte</span></a>
      <a (click)="irA('cesta')" class="btn" (mouseenter)="mostrarCesta()" (mouseleave)="mostrarCesta()">
        <mat-icon class="cart-icon">shopping_cart</mat-icon>
        <span>Cesta</span>
        <div class="container" *ngIf="cesta.length !== 0">
          <div class="tarjeta" [hidden]="!mostrar">
            <div class="tarjeta-cesta">
              <ul *ngFor="let dato of cesta">
                <li>{{dato.nombre}} - {{(dato.precioNeto + dato.precioNeto*(dato.ivaAsociado/100)).toFixed(2)}} €</li>
              </ul>
            </div>
            <hr>
            <p>Subtotal: {{precioCesta.toFixed(2)}} €</p>
          </div>
        </div>
        <div class="circle" *ngIf="cesta.length !== 0">{{ cesta.length }}</div>
      </a>


    </div>

    <div class="buscardorMovil">
      <form (ngSubmit)="buscar()">
        <input [(ngModel)]="terminoBusqueda" name="terminoBusqueda" type="text"
          placeholder="Busca tus marcas y productos favoritos" (input)="mostrarResultados = true"
          (blur)="mostrarResultados = false">

        <mat-icon>search</mat-icon>
      </form>

      <ul class="resultados-busqueda" [class.visible]="mostrarResultados">
        <li *ngFor="let resultado of resultados">
          <a (click)="seleccionarResultado(resultado)">{{ resultado.nombre }}</a>
        </li>
      </ul>
    </div>

  </div>



</nav>
