.contenedor {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.contenedorInterior {
  width: 60%;
  min-height: 400px;
}

.contenedorInterior h1 {
  border-bottom: 1px solid #3d3d3d;
  padding: 10px;
}

.contenidoDescriptivo {
  border-bottom: #3d3d3d 1px solid;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.imagen {
  width: 40%;
  max-height: 60%;
}

.imagen img {
  width: 100%;
}

.seleccionador {
  width: 60%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
 }

.seleccionadorInterno {
   width: 50%;
  min-height: 50%;
  padding: 30px;
}

.informacionAux {
  width: auto;
  min-height: 100px;
  padding: 20px 200px;
}

.btnAniadir {
  margin-top: 30px;
  padding: 15px 30px;
  width: 60%;
  background-color: transparent;
  border: 3px solid #428bca;
  color: #428bca;
  font-size: large;
  font-weight: bold;
}

.btnAniadir:hover {
  color: white;
  background-color: #428bca;
}
/* Media Query para dispositivos móviles */
@media screen and (max-width: 768px) {
  .contenedorInterior {
    width: 100%;
  }

  .contenidoDescriptivo {
    flex-direction: column;
  }

  .seleccionador {
    width: 100%;
  }

  .seleccionadorInterno{
    padding: 20px;
    width: 100%;
    height: auto;
    min-height: 100px;
  }

  .imagen {
  width: 100%;
}

  .informacionAux{

    padding: 20px;
  }
}
